body {
  font-family: Arial, sans-serif;
  background-color: hsl(234, 14%, 14%);
}

h1 {
  text-align: center;
  color: rgb(230, 10, 80);
}

.heading {
  border-bottom: 3px solid hsla(0, 11%, 70%, 0.1);
}

.tournament-container {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tournament {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
}

.tournament h2 {
  font-size: 20px;
}

.tournament p {
  margin: 5px 0;
}

.tournament a {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(230, 10, 80);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.tournament a:hover {
  background-color: #2980b9;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 30px;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.search-button {
  background-color: rgb(230, 10, 80);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button i {
  font-size: 20px;
}

.search-button:hover {
  background-color: #0056b3;
}
